In [42]:
#Pandas Library – Part 2
#Question 1
import pandas as pd

df = pd.read_csv('sales_data.csv')

df['Revenue'] = df['Units Sold'] * df['Unit Price']

# Grouping by region and calculate total revenue
revenue_by_region = df.groupby('Region')['Revenue'].sum().reset_index()

highest_revenue_region = revenue_by_region.loc[revenue_by_region['Revenue'].idxmax()]

print("Revenue by Region:")
print(revenue_by_region)
print(f"\nRegion with highest revenue: {highest_revenue_region['Region']} (${highest_revenue_region['Revenue']})")

Revenue by Region:
    Region   Revenue
0     East       0.0
1    North  180000.0
2    South  100000.0
3  Unknown   45000.0
4     West  180000.0

Region with highest revenue: North ($180000.0)

In [44]:
#Question 2
import pandas as pd

df = pd.read_csv('employee_data.csv')

avg_salary_by_dept = df.groupby('Department')['Salary'].mean().reset_index()

# Calculating average years of experience by department
avg_exp_by_dept = df.groupby('Department')['Years of Experience'].mean().reset_index()

most_exp_dept = avg_exp_by_dept.loc[avg_exp_by_dept['Years of Experience'].idxmax()]

print("Average Salary by Department:")
print(avg_salary_by_dept)
print("\nAverage Years of Experience by Department:")
print(avg_exp_by_dept)
print(f"\nDepartment with most experienced employees: {most_exp_dept['Department']} ({most_exp_dept['Years of Experience']:.1f} years average)")

Average Salary by Department:
  Department   Salary
0    Finance  81000.0
1         HR  35000.0
2         IT  78000.0

Average Years of Experience by Department:
  Department  Years of Experience
0    Finance                 10.0
1         HR                  3.0
2         IT                  6.5

Department with most experienced employees: Finance (10.0 years average)

In [46]:
#Question 3
import pandas as pd

weather_data = pd.read_csv("weather_data.csv")

weather_data = weather_data.dropna(subset=["Temperature (°F)", "Humidity (%)", "City"])
weather_data = weather_data[weather_data["Humidity (%)"] > 0]
weather_data["Temp-to-Humidity Ratio"] = weather_data["Temperature (°F)"] / weather_data["Humidity (%)"]

highest_ratio_city = weather_data.loc[weather_data["Temp-to-Humidity Ratio"].idxmax()]

print("Temperature-to-Humidity Ratio by City:")
print(weather_data[["City", "Temp-to-Humidity Ratio"]])
print("\nCity with Highest Temperature-to-Humidity Ratio:")
print(highest_ratio_city)

Temperature-to-Humidity Ratio by City:
          City  Temp-to-Humidity Ratio
0     New York                1.214286
1  Los Angeles                1.800000
3      Houston                1.672727
4      Phoenix                2.600000

City with Highest Temperature-to-Humidity Ratio:
City                      Phoenix
Temperature (°F)            104.0
Humidity (%)                 40.0
Rainfall (inches)             0.0
Temp-to-Humidity Ratio        2.6
Name: 4, dtype: object

In [48]:
#Question 4
import pandas as pd

customers_file_path = "customers.csv"
orders_file_path = "orders.csv"

customers_data = pd.read_csv(customers_file_path)
orders_data = pd.read_csv(orders_file_path)

customers_data = customers_data.dropna(subset=["Customer ID", "City"])
orders_data = orders_data.dropna(subset=["Customer ID", "Amount"])

merged_data = pd.merge(customers_data, orders_data, on="Customer ID", how="inner")

average_order_amount_per_city = merged_data.groupby(["City", "Customer ID"])["Amount"].mean().reset_index()

print("Average Order Amount by City with Customer ID:")
print(average_order_amount_per_city)

Average Order Amount by City with Customer ID:
          City  Customer ID  Amount
0      Houston          4.0   500.0
1  Los Angeles          2.0   450.0
2        Miami          5.0   600.0
3     New York          1.0   300.0

In [50]:
#Question 5
import pandas as pd

file_path = "multi_year_sales.csv"

multi_year_sales_data = pd.read_csv(file_path)

multi_year_sales_data = multi_year_sales_data.dropna(subset=["Year", "Region", "Sales"])

multi_year_sales_data["Year"] = multi_year_sales_data["Year"].astype(int)

multi_year_sales_data = multi_year_sales_data.sort_values(by=["Region", "Year"])
multi_year_sales_data["YoY Growth (%)"] = multi_year_sales_data.groupby("Region")["Sales"].pct_change() * 100
multi_year_sales_data = multi_year_sales_data.dropna(subset=["YoY Growth (%)"])

if multi_year_sales_data.empty:
    most_consistent_region = "No valid data available for YoY Growth analysis."
else:
    growth_variability = multi_year_sales_data.groupby("Region")["YoY Growth (%)"].std().reset_index()
    growth_variability = growth_variability.dropna()
    if growth_variability.empty:
        most_consistent_region = "No valid regions with consistent growth data."
    else:
        most_consistent_region = growth_variability.loc[growth_variability["YoY Growth (%)"].idxmin()]

print("Year-over-Year Growth Analysis:")
print(multi_year_sales_data)
print("\nMost Consistent Growth Region:")
print(most_consistent_region)

Year-over-Year Growth Analysis:
   Year Region    Sales  YoY Growth (%)
3  2023  South  47000.0        4.444444

Most Consistent Growth Region:
No valid regions with consistent growth data.

In [52]:
#Question 6
import pandas as pd

file_path = "sales_data.csv"

sales_data = pd.read_csv(file_path)

sales_data = sales_data.dropna(subset=["Product", "Units Sold", "Unit Price"])
sales_data["Total Revenue"] = sales_data["Units Sold"] * sales_data["Unit Price"]

top_selling_product = sales_data.groupby("Product")["Total Revenue"].sum().reset_index()
top_selling_product = top_selling_product.sort_values(by="Total Revenue", ascending=False).iloc[0]

total_revenue = sales_data["Total Revenue"].sum()

top_product_contribution = (top_selling_product["Total Revenue"] / total_revenue) * 100

ranked_products = sales_data.groupby("Product")["Units Sold"].sum().reset_index()
ranked_products = ranked_products.sort_values(by="Units Sold", ascending=False).reset_index(drop=True)

print("Ranked Products by Units Sold:")
print(ranked_products)
print("\nTop-Selling Product:")
print(top_selling_product)
print("\nContribution to Total Revenue (%):")
print(top_product_contribution)

Ranked Products by Units Sold:
   Product  Units Sold
0  Monitor       300.0
1  Scanner       250.0
2   Tablet       200.0
3  Desktop       180.0
4   Laptop       150.0
5  Printer         0.0

Top-Selling Product:
Product           Desktop
Total Revenue    180000.0
Name: 0, dtype: object

Contribution to Total Revenue (%):
31.03448275862069

In [54]:
#Question 7
import pandas as pd
employee_data_path = "employee_data.csv"
weather_data_path = "weather_data.csv"

employee_data = pd.read_csv(employee_data_path)
weather_data = pd.read_csv(weather_data_path)
employee_data = employee_data.dropna(subset=["Salary", "Department"])
weather_data = weather_data.dropna(subset=["City", "Temperature (°F)", "Humidity (%)"])
merged_data = pd.merge(employee_data, weather_data, left_on="Department", right_on="City", how="inner")
average_salary_per_city = merged_data.groupby("City")["Salary"].mean().reset_index()

salary_weather_correlation = pd.merge(average_salary_per_city, weather_data, on="City", how="inner")

if not salary_weather_correlation.empty:
    correlation_matrix = salary_weather_correlation[["Salary", "Temperature (°F)", "Humidity (%)"]].corr()
    print("Correlation between Salary and Weather Conditions:")
    print(correlation_matrix)
else:
    print("Not enough valid data available for correlation analysis.")

Not enough valid data available for correlation analysis.

In [56]:
#Pandas Library- Part 3
#Question 1
import pandas as pd
file_path = "sales_data.csv"
sales_data = pd.read_csv(file_path)
sales_data.loc[sales_data["Units Sold"] == 0, "Units Sold"] = pd.NA
sales_data.loc[sales_data["Region"] == "Unknown", "Region"] = pd.NA
missing_values_percentage = sales_data.isna().mean() * 100
print("Percentage of Missing Values in Each Column:")
print(missing_values_percentage)
print("\nUpdated Sales Data with Missing Values Handled:")
print(sales_data)

Percentage of Missing Values in Each Column:
Product        0.000000
Units Sold    28.571429
Unit Price     0.000000
Region        28.571429
dtype: float64

Updated Sales Data with Missing Values Handled:
      Product  Units Sold  Unit Price Region
0      Laptop       150.0        1200  North
1      Tablet       200.0         500  South
2  Smartphone         NaN         800   East
3     Desktop       180.0        1000   West
4     Monitor       300.0         150   <NA>
5     Printer         NaN         200   East
6     Scanner       250.0         300    NaN

In [74]:
#Question 2
import pandas as pd
file_path = "sales_data.csv"

sales_data = pd.read_csv(file_path)
sales_data.loc[sales_data["Units Sold"] == 0, "Units Sold"] = pd.NA
sales_data.loc[sales_data["Region"] == "Unknown", "Region"] = pd.NA
sales_data["Units Sold"] = sales_data.groupby("Region")["Units Sold"].transform(lambda x: x.fillna(x.mean()))

print("\nUpdated Sales Data with Filled Missing Units Sold:")
print(sales_data)

Updated Sales Data with Filled Missing Units Sold:
      Product  Units Sold  Unit Price Region
0      Laptop       150.0        1200  North
1      Tablet       200.0         500  South
2  Smartphone         NaN         800   East
3     Desktop       180.0        1000   West
4     Monitor         NaN         150   <NA>
5     Printer         NaN         200   East
6     Scanner         NaN         300    NaN

In [72]:
#Question 3
import pandas as pd
file_path = "employee_data.csv"
employee_data = pd.read_csv(file_path)

employee_data_ffill = employee_data.copy()
employee_data_ffill["Salary"] = employee_data_ffill["Salary"].ffill()

employee_data_bfill = employee_data.copy()
employee_data_bfill["Years of Experience"] = employee_data_bfill["Years of Experience"].bfill()

print("Employee Data with Forward Fill (Salary):")
print(employee_data_ffill)
print("\nEmployee Data with Backward Fill (Years of Experience):")
print(employee_data_bfill)

Employee Data with Forward Fill (Salary):
   Employee ID     Name Department   Salary  Years of Experience
0          101    Alice         HR  70000.0                  3.0
1          102      Bob    Finance  80000.0                  NaN
2          103  Charlie         IT  80000.0                  6.0
3          104    Diana    Finance  82000.0                 10.0
4          105    Ethan         IT  78000.0                  7.0
5          106    Fiona        NaN  65000.0                  4.0
6          107      NaN         HR      0.0                  NaN

Employee Data with Backward Fill (Years of Experience):
   Employee ID     Name Department   Salary  Years of Experience
0          101    Alice         HR  70000.0                  3.0
1          102      Bob    Finance  80000.0                  6.0
2          103  Charlie         IT      NaN                  6.0
3          104    Diana    Finance  82000.0                 10.0
4          105    Ethan         IT  78000.0                  7.0
5          106    Fiona        NaN  65000.0                  4.0
6          107      NaN         HR      0.0                  NaN

In [76]:
#Question 4
import pandas as pd
file_path = "employee_data.csv"
employee_data = pd.read_csv(file_path)

employee_data["Salary"] = employee_data.groupby("Department")["Salary"].transform(lambda x: x.fillna(x.mean()))
print("Employee Data with Department Mean Salary Imputation:")
print(employee_data)

Employee Data with Department Mean Salary Imputation:
   Employee ID     Name Department   Salary  Years of Experience
0          101    Alice         HR  70000.0                  3.0
1          102      Bob    Finance  80000.0                  NaN
2          103  Charlie         IT  78000.0                  6.0
3          104    Diana    Finance  82000.0                 10.0
4          105    Ethan         IT  78000.0                  7.0
5          106    Fiona        NaN      NaN                  4.0
6          107      NaN         HR      0.0                  NaN

In [78]:
#Question 5
import pandas as pd
file_path = "weather_data.csv"
weather_data = pd.read_csv(file_path)

weather_data_linear = weather_data.copy()
weather_data_linear["Temperature (°F)"] = weather_data_linear["Temperature (°F)"].interpolate(method='linear')
weather_data_poly = weather_data.copy()
weather_data_poly["Temperature (°F)"] = weather_data_poly["Temperature (°F)"].interpolate(method='polynomial', order=2)

print("Weather Data with Linear Interpolation:")
print(weather_data_linear)
print("\nWeather Data with Polynomial Interpolation (Degree 2):")
print(weather_data_poly)

Weather Data with Linear Interpolation:
          City  Temperature (°F)  Humidity (%)  Rainfall (inches)
0     New York              85.0          70.0                1.2
1  Los Angeles              90.0          50.0                0.5
2      Chicago              91.0          60.0                2.3
3      Houston              92.0          55.0                NaN
4      Phoenix             104.0          40.0                0.0
5      Seattle              60.0           0.0                0.8
6        Miami              88.0           NaN                NaN

Weather Data with Polynomial Interpolation (Degree 2):
          City  Temperature (°F)  Humidity (%)  Rainfall (inches)
0     New York         85.000000          70.0                1.2
1  Los Angeles         90.000000          50.0                0.5
2      Chicago         87.412037          60.0                2.3
3      Houston         92.000000          55.0                NaN
4      Phoenix        104.000000          40.0                0.0
5      Seattle         60.000000           0.0                0.8
6        Miami         88.000000           NaN                NaN

In [80]:
#Question 6
import pandas as pd
file_path = "weather_data.csv"
weather_data = pd.read_csv(file_path)
missing_percentage = weather_data.isna().mean() * 100
if missing_percentage["Rainfall (inches)"] > 50:
   weather_data_dropped = weather_data.drop(columns=["Rainfall (inches)"])
else:
   weather_data_dropped = weather_data.copy()

print("Weather Data After Dropping Rainfall Column:")
print(weather_data_dropped)

Weather Data After Dropping Rainfall Column:
          City  Temperature (°F)  Humidity (%)  Rainfall (inches)
0     New York              85.0          70.0                1.2
1  Los Angeles              90.0          50.0                0.5
2      Chicago               NaN          60.0                2.3
3      Houston              92.0          55.0                NaN
4      Phoenix             104.0          40.0                0.0
5      Seattle              60.0           0.0                0.8
6        Miami              88.0           NaN                NaN

In [84]:
#Question 7
import pandas as pd
file_path = "multi_year_sales.csv"
multi_year_sales_data = pd.read_csv(file_path)

multi_year_sales_data["Sales"] = multi_year_sales_data["Sales"].interpolate(method='linear')

if multi_year_sales_data["Year"].isna().sum() > 0:
   existing_years = multi_year_sales_data["Year"].dropna().unique()
   existing_years.sort()
   min_year, max_year = int(existing_years.min()), int(existing_years.max())
   full_year_range = list(range(min_year, max_year + 1))
   multi_year_sales_data["Year"] = multi_year_sales_data["Year"].ffill().bfill()

print("Multi-Year Sales Data After Multi-Column Imputation:")
print(multi_year_sales_data)

Multi-Year Sales Data After Multi-Column Imputation:
     Year Region    Sales
0  2022.0  North  50000.0
1  2022.0  South  45000.0
2  2023.0  North  46000.0
3  2023.0  South  47000.0
4  2023.0   East  48000.0
5  2024.0    NaN      0.0
6  2025.0   West  60000.0

In [86]:
#Pandas Library- Part 4
#Question 1
import pandas as pd
file_path = "sales_data.csv"
sales_data = pd.read_csv(file_path)
sales_data = sales_data.dropna(subset=["Units Sold", "Unit Price", "Region"])
sales_data["Total Revenue"] = sales_data["Units Sold"] * sales_data["Unit Price"]
region_revenue = sales_data.groupby("Region")["Total Revenue"].sum().reset_index()
revenue_difference = region_revenue["Total Revenue"].max() - region_revenue["Total Revenue"].min()
print("Sales Data with Revenue Column:")
print(sales_data)
print("\nTotal Revenue by Region:")
print(region_revenue)
print("\nDifference between Highest and Lowest Revenue:")
print(revenue_difference)

Sales Data with Revenue Column:
   Product  Units Sold  Unit Price   Region  Total Revenue
0   Laptop       150.0        1200    North       180000.0
1   Tablet       200.0         500    South       100000.0
3  Desktop       180.0        1000     West       180000.0
4  Monitor       300.0         150  Unknown        45000.0
5  Printer         0.0         200     East            0.0

Total Revenue by Region:
    Region  Total Revenue
0     East            0.0
1    North       180000.0
2    South       100000.0
3  Unknown        45000.0
4     West       180000.0

Difference between Highest and Lowest Revenue:
180000.0

In [88]:
#Question 2
import pandas as pd
file_path = "employee_data.csv"
employee_data = pd.read_csv(file_path)
employee_data = employee_data.dropna(subset=["Salary", "Department"])
department_avg_salary = employee_data.groupby("Department")["Salary"].transform("mean")
employee_data["Salary Difference"] = employee_data["Salary"] - department_avg_salary
employee_data_sorted = employee_data.sort_values(by="Salary Difference", ascending=False)
print("Employee Data with Salary Difference:")
print(employee_data_sorted)

Employee Data with Salary Difference:
   Employee ID   Name Department   Salary  Years of Experience  \
0          101  Alice         HR  70000.0                  3.0
3          104  Diana    Finance  82000.0                 10.0
4          105  Ethan         IT  78000.0                  7.0
1          102    Bob    Finance  80000.0                  NaN
6          107    NaN         HR      0.0                  NaN

   Salary Difference
0            35000.0
3             1000.0
4                0.0
1            -1000.0
6           -35000.0

In [90]:
#Question 3
import pandas as pd
file_path = "employee_data.csv"
employee_data = pd.read_csv(file_path)
employee_data = employee_data.dropna(subset=["Years of Experience"])

def categorize_experience(years):
    if years < 5:
        return "Junior"
    elif 5 <= years <= 10:
        return "Mid-level"
    else:
        return "Senior"

employee_data["Experience Level"] = employee_data["Years of Experience"].apply(categorize_experience)
print("Employee Data with Experience Level:")
print(employee_data)

Employee Data with Experience Level:
   Employee ID     Name Department   Salary  Years of Experience  \
0          101    Alice         HR  70000.0                  3.0
2          103  Charlie         IT      NaN                  6.0
3          104    Diana    Finance  82000.0                 10.0
4          105    Ethan         IT  78000.0                  7.0
5          106    Fiona        NaN  65000.0                  4.0

  Experience Level
0           Junior
2        Mid-level
3        Mid-level
4        Mid-level
5           Junior

In [92]:
#Question 4
import pandas as pd
file_path = "weather_data.csv"
weather_data = pd.read_csv(file_path)
weather_data = weather_data.dropna(subset=["Temperature (°F)", "Humidity (%)", "City"])
weather_data["Humidity-to-Temperature Ratio"] = weather_data["Humidity (%)"] / weather_data["Temperature (°F)"]
highest_ratio_city = weather_data.loc[weather_data["Humidity-to-Temperature Ratio"].idxmax()]
print("Weather Data with Humidity-to-Temperature Ratio:")
print(weather_data)
print("\nCity with the Highest Humidity-to-Temperature Ratio:")
print(highest_ratio_city)

Weather Data with Humidity-to-Temperature Ratio:
          City  Temperature (°F)  Humidity (%)  Rainfall (inches)  \
0     New York              85.0          70.0                1.2
1  Los Angeles              90.0          50.0                0.5
3      Houston              92.0          55.0                NaN
4      Phoenix             104.0          40.0                0.0
5      Seattle              60.0           0.0                0.8

   Humidity-to-Temperature Ratio
0                       0.823529
1                       0.555556
3                       0.597826
4                       0.384615
5                       0.000000

City with the Highest Humidity-to-Temperature Ratio:
City                             New York
Temperature (°F)                     85.0
Humidity (%)                         70.0
Rainfall (inches)                     1.2
Humidity-to-Temperature Ratio    0.823529
Name: 0, dtype: object

In [94]:
#Question 5
import pandas as pd
file_path = "weather_data.csv"
weather_data = pd.read_csv(file_path)
weather_data = weather_data.dropna(subset=["Rainfall (inches)", "Temperature (°F)"])

def categorize_rainfall(rainfall):
    if rainfall == 0:
        return "No Rain"
    elif 0 < rainfall <= 1:
        return "Low Rain"
    else:
        return "High Rain"

weather_data["Rainfall Category"] = weather_data["Rainfall (inches)"].apply(categorize_rainfall)
avg_temp_by_rainfall = weather_data.groupby("Rainfall Category")["Temperature (°F)"].mean().reset_index()
print("Weather Data with Rainfall Categories:")
print(weather_data)
print("\nAverage Temperature by Rainfall Category:")
print(avg_temp_by_rainfall)

Weather Data with Rainfall Categories:
          City  Temperature (°F)  Humidity (%)  Rainfall (inches)  \
0     New York              85.0          70.0                1.2
1  Los Angeles              90.0          50.0                0.5
4      Phoenix             104.0          40.0                0.0
5      Seattle              60.0           0.0                0.8

  Rainfall Category
0         High Rain
1          Low Rain
4           No Rain
5          Low Rain

Average Temperature by Rainfall Category:
  Rainfall Category  Temperature (°F)
0         High Rain              85.0
1          Low Rain              75.0
2           No Rain             104.0

In [100]:
#Question 6
import pandas as pd
file_path = "multi_year_sales.csv"
multi_year_sales_data = pd.read_csv(file_path)
multi_year_sales_data = multi_year_sales_data.dropna(subset=["Year", "Region", "Sales"])
multi_year_sales_data["Year"] = multi_year_sales_data["Year"].astype(int)
multi_year_sales_data = multi_year_sales_data.sort_values(by=["Region", "Year"])
multi_year_sales_data["YoY Growth (%)"] = multi_year_sales_data.groupby("Region")["Sales"].pct_change() * 100
multi_year_sales_data = multi_year_sales_data.dropna(subset=["YoY Growth (%)"])

if not multi_year_sales_data.empty:
    growth_variability = multi_year_sales_data.groupby("Region")["YoY Growth (%)"].std().reset_index()
    growth_variability = growth_variability.dropna()
    if not growth_variability.empty:
        most_consistent_region = growth_variability.loc[growth_variability["YoY Growth (%)"].idxmin()]
    else:
        most_consistent_region = "No valid regions with consistent growth data."
else:
    most_consistent_region = "No valid data available for YoY Growth analysis."

print("Multi-Year Sales Data with YoY Growth:")
print(multi_year_sales_data)
print("\nMost Consistent Growth Region:")
print(most_consistent_region)

Multi-Year Sales Data with YoY Growth:
   Year Region    Sales  YoY Growth (%)
3  2023  South  47000.0        4.444444

Most Consistent Growth Region:
No valid regions with consistent growth data.

In [98]:
#Question 7
import pandas as pd
file_path = "multi_year_sales.csv"
multi_year_sales_data = pd.read_csv(file_path)
multi_year_sales_data = multi_year_sales_data.dropna(subset=["Year", "Region", "Sales"])
multi_year_sales_data["Year"] = multi_year_sales_data["Year"].astype(int)

aggregated_sales = multi_year_sales_data.groupby("Region").agg(
    Total_Sales=("Sales", "sum"),
    Average_Yearly_Sales=("Sales", "mean"),
    Years_Above_50K=("Sales", lambda x: (x > 50000).sum())
).reset_index()

print("Aggregated Sales Analysis by Region:")
print(aggregated_sales)

Aggregated Sales Analysis by Region:
  Region  Total_Sales  Average_Yearly_Sales  Years_Above_50K
0  North      50000.0               50000.0                0
1  South      92000.0               46000.0                0
2   West      60000.0               60000.0                1