In [7]:
#Question 3
raw_input = " Hello, WORLD! "
print(raw_input)

 Hello, WORLD!

In [3]:
cleaned_input = raw_input.strip()
lowercase_input = cleaned_input.lower()
final_input = lowercase_input.replace(",", "").replace("!", "")

In [5]:
print(final_input)

hello world

In [9]:
# Question 4
email = "student.northeastern@university.edu"
username_extract = email[:email.index("@")]  # Extract everything before the "@" symbol
domain_extract = email[email.index("@")+1:]  # Extract everything after the "@" symbol
top_level_domain = email[-3:]  # Extract the last three characters (e.g., "edu")

In [13]:
print("\nEmail:")
print(email)
print("\nUsername:")
print(username_extract)
print("\nDomain:")
print(domain_extract)
print("\nTop Level Domain:")
print(top_level_domain)

Email:
student.northeastern@university.edu

Username:
student.northeastern

Domain:
university.edu

Top Level Domain:
edu

In [15]:
# Question 5
numbers = [3, 7, 12, 19, 23]
filtered_numbers = [num for num in numbers if num > 10]

In [17]:
print("\nThe filtered number list is:")
print(filtered_numbers)

The filtered number list is:
[12, 19, 23]

In [25]:
# Question 6
nested_list = [
    ['Alice', 14, 85],
    ['Bob', 15, 78]
]

In [27]:
grades = [student[2] for student in nested_list]
print("\nThe grades for all students are:")
print(grades)

The grades for all students are:
[85, 78]

In [31]:
# Question 7
data = [45, 12, 78, 34, 89]

In [33]:
descending_order = sorted(data, reverse = True)
filtered_data = [value for value in data if value > 50]

In [35]:
print("\nOriginal dataset:")
print(data)

print("\nThe dataset in descending order:")
print(descending_order)

print("\nNumbers greater than 50:")
print(filtered_data)

Original dataset:
[45, 12, 78, 34, 89]

The dataset in descending order:
[89, 78, 45, 34, 12]

Numbers greater than 50:
[78, 89]

In [3]:
# Question 8
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
average_value = sum(random_numbers) / len(random_numbers)

In [5]:
print("\nThe random dataset generated:")
print(random_numbers)
print("\nThe average of the values generated:")
print(average_value)

The random dataset generated:
[10, 72, 20, 79, 28, 46, 24, 32, 28, 98]

The average of the values generated:
43.7

In [9]:
# Question 9
numbers = [1, 2, 3, 4, 5]
squared_num = [num ** 2 for num in numbers]

In [11]:
print("\nThe original dataeset:")
print(numbers)

print("\nThe square of the values in the dataset:")
print(squared_num)

The original dataeset:
[1, 2, 3, 4, 5]

The square of the values in the dataset:
[1, 4, 9, 16, 25]

In [23]:
# Question 10
raw_input = [" DATA science ", "PYTHON programming"]
final_data = [text.strip().lower().replace("data", "info").capitalize() for text in raw_input]

In [27]:
print("\nThe original input:")
print(raw_input)

print("\nThe cleaned output:")
print(final_data)

The original input:
[' DATA science ', 'PYTHON programming']

The cleaned output:
['Info science', 'Python programming']

In [33]:
# Question 12
data = (23.5, 24.0, 22.8, 23.9, 24.3, 25.1)
first_element = data[0]
last_two = data[-2:] 
between_elements = data[2:5]

In [35]:
print("\nOriginal data:")
print(data)

print("\nFirst element:")
print(first_element)

print("\nLast two elements:")
print(last_two)

print("\nIn Between elements:")
print(between_elements)

Original data:
(23.5, 24.0, 22.8, 23.9, 24.3, 25.1)

First element:
23.5

Last two elements:
(24.3, 25.1)

In Between elements:
(22.8, 23.9, 24.3)

In [37]:
# Question 13
logs = (
    ("2025-01-01 10:00:00", "INFO", "System started"),
    ("2025-01-01 10:15:00", "ERROR", "Connection failed")
)

In [41]:
logs_info = [log for log in logs if log[1] == "INFO"]

error_count = sum(1 for log in logs if log[1] == "ERROR")

In [43]:
print("\nThe original tuple:")
print(logs)

print("\nMessages with INFO level:")
print(logs_info)

print("\nNumber of logs with level ERROR:")
print(error_count)

The original tuple:
(('2025-01-01 10:00:00', 'INFO', 'System started'), ('2025-01-01 10:15:00', 'ERROR', 'Connection failed'))

Messages with INFO level:
[('2025-01-01 10:00:00', 'INFO', 'System started')]

Number of logs with level ERROR:
1

In [45]:
# Question 14
student = ("Alice", 90, 14)
name, grade, age = student

In [49]:
print("\nName:")
print(name)

print("\nGrade:")
print(grade)

print("\nAge:")
print(age)

Name:
Alice

Grade:
90

Age:
14

In [51]:
# Question 15
measurements = (85, 90, 78, 92, 88, 76, 110)

within_range = all(70 <= value <= 100 for value in measurements)

out_of_range = [value for value in measurements if value < 70 or value > 100]

In [53]:
print("\nThe orignal tuple:")
print(measurements)

print("\nAre all values within range? (between 70 and 100)")
print(within_range)

print("\nThe values that are out of range are:")
print(out_of_range)

The orignal tuple:
(85, 90, 78, 92, 88, 76, 110)

Are all values within range? (between 70 and 100)
False

The values that are out of range are:
[110]